.page{
  width:100%;
  height:100%;
  position:absolute;
}
.cream{
  background-color:#FAF7F0;
}
.blue{
  background-color:#9AB2F5;
}
.orange{
  background-color:#FFD000;
}
.purple{
  background-color:#49006B;
}
